{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">  <!-- Optional CSS -->
</head>
<body>
    
  <!-- Check if the user is authenticated -->
 {% if user.is_authenticated %}
    
 <!-- Check if the user is an agency owner -->
 {% if user.agency %}
     {% include 'agency/header.html' %}
 
 <!-- Check if the user is a staff member (admin) -->
 {% elif user.is_staff %}
     {% include 'travelAdmin/header.html' %}
 
 <!-- If the user is a normal authenticated user (not admin, not agency owner) -->
 {% else %}
     {% include 'user/header.html' %}
 {% endif %}
 
<!-- If the user is not authenticated -->
{% else %}
 {% include 'header.html' %}
{% endif %}

    <h1>Admin Login</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Login</button>
    </form>
    <br>
    {% for message in messages %}
        <div>{{ message }}</div>
    {% endfor %}
</body>
</html>
