{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Travelo</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
  </head>

  <body>
    {% include 'header.html' %}
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

    <!-- slider_area_start -->
    <div class="slider_area">
      <div class="slider_active owl-carousel">
        <div
          class="single_slider d-flex align-items-center slider_bg_1 overlay"
        >
          <div class="container">
            <div class="row align-items-center">
              <div class="col-xl-12 col-md-12">
                <div class="slider_text text-center">
                  <h3>India</h3>
                  <p>
                    Travel takes us out of our comfort zones and inspires us to
                    see, taste and try new things
                  </p>
                  <a href="#" class="boxed-btn3">Explore Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="single_slider d-flex align-items-center slider_bg_2 overlay"
        >
          <div class="container">
            <div class="row align-items-center">
              <div class="col-xl-12 col-md-12">
                <div class="slider_text text-center">
                  <h3>India</h3>
                  <p>
                    Travel takes us out of our comfort zones and inspires us to
                    see, taste and try new things
                  </p>
                  <a href="#" class="boxed-btn3">Explore Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="single_slider d-flex align-items-center slider_bg_3 overlay"
        >
          <div class="container">
            <div class="row align-items-center">
              <div class="col-xl-12 col-md-12">
                <div class="slider_text text-center">
                  <h3>India</h3>
                  <p>
                    Travel takes us out of our comfort zones and inspires us to
                    see, taste and try new things
                  </p>
                  <a href="#" class="boxed-btn3">Explore Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- slider_area_end -->

    <!-- myapp/templates/myapp/index.html -->
    {% load static %}

    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        <!-- Add your CSS file if needed -->
        <title>Popular Places</title>
      </head>
      <body>
        <div class="popular_places_area">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-6">
                <div class="section_title text-center mb_70">
                  <h3>Popular Places</h3>
                  <p>Life is short and the world is wide..</p>
                </div>
              </div>
            </div>
            <div class="tour_packages_area">
              <div class="row">
                {% for package in packages %}
                <div class="col-lg-4 col-md-6">
                  <div class="single_trip mb-4">
                    <div class="thumb">
                      {% if package.package_image %}
                      <img
                        src="{{ package.package_image.url }}"
                        alt="{{ package.title }}"
                        class="img-fluid"
                      />
                      {% else %}
                      <img
                        src="{% static 'default_image.jpg' %}"
                        alt="Default Image"
                        class="img-fluid"
                      />
                      {% endif %}
                    </div>
                    <div class="info">
                      <div class="date">
                        <span
                          >Start: {{ package.start_date }} | End:
                          {{package.end_date}}</span
                        >
                      </div>
                      <a href="#">
                        <h3>{{ package.title }}</h3>
                      </a>
                      <p>{{ package.description|truncatewords:20 }}</p>
                      <p><strong>Price:</strong> ₹{{ package.price }}</p>
                      <p>
                        <strong>Availability:</strong> {{ package.availability}}
                        seats left
                      </p>
                      <a href="{% url 'login' %}" class="btn btn-primary mt-2"
                        >Book Now</a
                      >
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

        <div class="video_area video_bg overlay">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="video_wrap text-center">
                  <h3>Enjoy Video</h3>
                  <div class="video_icon">
                    <a
                      class="popup-video video_play_button"
                      href="https://www.youtube.com/watch?v=f59dDEk57i0"
                    >
                      <i class="fa fa-play"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Travel Variation Area -->
        <div class="travel_variation_area">
          <div class="container">
            <h2>Travel Variations</h2>
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="single_travel text-center">
                  <div class="icon">
                    <img src="{% static 'img/svg_icon/1.svg' %}" alt="" />
                  </div>
                  <h3>Comfortable Journey</h3>
                  <p>
                    A wonderful serenity has taken to the possession of my
                    entire soul.
                  </p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="single_travel text-center">
                  <div class="icon">
                    <img src="{% static 'img/svg_icon/2.svg' %}" alt="" />
                  </div>
                  <h3>Luxurious Hotel</h3>
                  <p>
                    A wonderful serenity has taken to the possession of my
                    entire soul.
                  </p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="single_travel text-center">
                  <div class="icon">
                    <img src="{% static 'img/svg_icon/3.svg' %}" alt="" />
                  </div>
                  <h3>Travel Guide</h3>
                  <p>
                    A wonderful serenity has taken to the possession of my
                    entire soul.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div
          class="modal fade custom_search_pop"
          id="exampleModalCenter"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="serch_form">
                <input type="text" placeholder="Search" />
                <button type="submit">search</button>
              </div>
            </div>
          </div>
        </div>
        <!-- link that opens popup -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-de7e2ef6bfefd24b79a3f68b414b87b8db5b08439cac3f1012092b2290c719cd.js"></script>

        <script src=" https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <!-- JS here -->

        <!-- JavaScript files -->
        <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'js/ajax-form.js' %}"></script>
        <script src="{% static 'js/waypoints.min.js' %}"></script>
        <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
        <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'js/scrollIt.js' %}"></script>
        <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
        <script src="{% static 'js/wow.min.js' %}"></script>
        <script src="{% static 'js/nice-select.min.js' %}"></script>
        <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
        <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/gijgo.min.js' %}"></script>
        <script src="{% static 'js/slick.min.js' %}"></script>

        <!-- Contact JS -->
        <script src="{% static 'js/contact.js' %}"></script>
        <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static 'js/jquery.form.js' %}"></script>
        <script src="{% static 'js/jquery.validate.min.js' %}"></script>
        <script src="{% static 'js/mail-script.js' %}"></script>

        <script src="{% static 'js/main.js' %}"></script>
        <script>
          $(document).ready(function () {
            $("#datepicker").datepicker({
              iconsLibrary: "fontawesome",
              icons: {
                rightIcon: '<span class="fa fa-caret-down"></span>',
              },
            });
          });
        </script>
      </body>
    </html>
  </body>
</html>
